language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-padded -Wno-exit-time-destructors -Wno-c++98-compat -Wno-missing-prototypes main.cpp Component.cpp DefaultGuiApp.cpp GuiApplication.cpp ParentComponent.cpp Plugin.cpp Wrapper.cpp && ./a.out"
